<!DOCTYPE html>
<html>
<head>
  <title>Ledger</title>
  <%= stylesheet_link_tag    "ledger/application", media: "all" %>
  <%= javascript_include_tag "ledger/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
